@use "./variable" as *;

.jsgame__competitor {
  font-weight: bold;
  font-size: 2rem;
  color: $line-color;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
