@use "./variable" as *;

.jsgame__layout {
  font-size: 3rem;
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px 2px;
  color: $noughts-color;
  border: 1px black solid;
  grid-template-areas:
    "topsquareleft topsquaremiddle topsquareright"
    "middlesquareleft middlesquaremiddle middlesquareright"
    "bottomsquareleft bottomsquaremiddle bottomsquareright";
}

.topsquareleft {
  grid-area: topsquareleft;
  border: 1px black solid;
}
.topsquaremiddle {
  grid-area: topsquaremiddle;
  border: 1px black solid;
}
.topsquareright {
  grid-area: topsquareright;
  border: 1px black solid;
}
.middlesquareleft {
  grid-area: middlesquareleft;
  border: 1px black solid;
}
.middlesquaremiddle {
  grid-area: middlesquaremiddle;
  border: 1px black solid;
}
.middlesquareright {
  grid-area: middlessquareright;
  border: 1px black solid;
}
.bottomsquareleft {
  grid-area: bottomsquareleft;
  border: 1px black solid;
}
.bottomsquaremiddle {
  grid-area: bottomsquaremiddle;
  border: 1px black solid;
}

.bottomsquareright {
  grid-area: bottomsquareright;
  border: 1px black solid;
}
