@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
$font-family: "Open Sans", sans-serif;
$background-color: #eef2f5;
$line-color: black;
$noughts-color: #ea168e;
$cross-color: #1eafed;
